
<div class ="test">

     <%= simple_form_for(@behat) do |f| %>
        <% if @behat.errors.any? %>
          <div id="error_explanation">
          <h2><%= pluralize(@behat.errors.count, "error") %> prohibited this behat from being saved:</h2>

            <ul>
            <% @behat.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field" >
         
          <%= f.input :category ,:input_html => {:style => 'width: 250px'} %>
        </div>
        <div class="field">
           <%= f.input :title, :input_html => {:style => 'width: 400px'} %>
        </div>
        <div class="field">
          <%= f.input :description,:input_html => {:style => 'width: 700px;height:200px'} %>
        </div>
          
        <div class="field" >
          <%= f.text_area :content, :style =>'width: 900px',:class => "tinymce", :rows => 40, :cols => 150 %>
        </div>
        <div class="field">
          <%= f.input :author %>
        </div>
        <div class="actions">
          <%= f.button :submit %>
        </div>
      <% end %>
  </div>
<%= tinymce %>



