<h1 style="text-align:left">blogpost</h1>


<div class="row">
        
            <% @behats.each do |behat| %>
               <div class ="content">
                <h4 style="text-align:right"><%= behat.category %></h2>
                <h3><%= link_to  behat.title , behat %></h3>
                <p><%= behat.description %></p>
                <h6 style="text-align:right"><%= behat.author %></h4>
                <div class ="links">
                    <%= link_to 'Show', behat %>&nbsp;&nbsp;&nbsp;
                    <%= link_to 'Edit', edit_behat_path(behat) %>&nbsp;&nbsp;&nbsp;
                    <%= link_to 'Destroy', behat, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
        </div>
        
        <% end %>
</div>

<br />
<%= link_to 'New Behat', new_behat_path %>

