<p id="notice"><%= notice %></p>

<div class="book-content">
<div class="row">
            <div class ="content">
            <h4 style="text-align:right"><%= @behat.category %></h2>
            <h3 style="color: #458DC9;"><%= @behat.title %></h3>
            <p><%= @behat.description %></p><br>
            <p><%= @behat.content.html_safe %></p>
            <h6 style="text-align:right"><%= @behat.author %></h4>
            
  </div>
</div>
 

</div>
<div class="links">

<%= link_to 'Back', behats_path %>
</div>