<!DOCTYPE html>
<html>
  <head>
    <title><"hello") %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "opensource blog", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "about us",    aboutus_path %></li>
              <li><%= link_to "contact", contact_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div id="side-bar">
    <a href="http://www.github.com/vxvinod">  
  <img style="position: absolute; top: 35px; left: 0; border: 0; z-index: 5;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
</div>
    <div class="container">
      <%= yield %>
    </div>


    <footer class="footer" style="text-align:center">
  <small>
    <a href=""><b>powered by :</b> twitter bootstrap Ruby on Rails </a>
  </small>
</footer>
  </body>
</html>